//nav 
$navwidth : 100% ;
$navheigt : 20% ;
$nav-txtcolor : black ;
$nav-bgcolor : linear-gradient(#faa5e7, #7dc2fa);

//link
//$linkdeco : none ;
//$linkcolor : black;

//sidenav 
$sidenavhg : 100% ; 
$sidenavwdth : 0% ;
$sidecolor : linear-gradient(#faa5e7, #7dc2fa); 

//sidenav a
$ftsize : 25px;
$ftcolor : black;

//sidenav hoved
$ftcolor-hoved : #f1f1f1;

//icoOpen
$icomarg : 50%;

//dropdown-content
$dropdownbg : #f9f9f9;
$boxshadow : 0px 8px 16px 0px rgba(0,0,0,0.2);

//dropdown-content a 
$dpdw-txtcolor: black;

//dropdown-content a:hover 
$dpdw-bgcolor: #f1f1f1;

//dropdown:hover .dropbtn 
$dpdw-htxtcolor: #f1f1f1;

//contenu
$secwdth : 1024px;